In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords

In [2]:
imdb=pd.read_csv("E:/Dataset/IMDB dataset/IMDB Dataset.csv")
imdb.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
imdb.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [4]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [8]:
imdb.duplicated().sum()

418

In [11]:
imdb.drop_duplicates(inplace=True)

In [12]:
imdb.duplicated().sum()

0

# Lower Casing

In [13]:
imdb['review'] = imdb['review'].apply(lambda x: x.lower())

In [14]:
# imdb=imdb['review'].str.lower()

In [15]:
imdb['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 49582, dtype: object

# Removing the html tags

In [16]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'', text)

In [17]:
imdb['review'] = imdb['review'].apply(remove_html_tags)

In [18]:
imdb['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 49582, dtype: object

# Removing URL's

In [19]:
def remove_url(text):
    pattern=re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [20]:
imdb['review'].apply(remove_url)

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. the filming tec...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 49582, dtype: object

# Removing stopwords

In [21]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    new_text = []

    for word in text.split():
        if word not in stop_words:
            new_text.append(word)

    return ' '.join(new_text)

In [22]:
imdb['review'] = imdb['review'].apply(remove_stopwords)

In [23]:
imdb['review']

0        one reviewers mentioned watching 1 oz episode ...
1        wonderful little production. filming technique...
2        thought wonderful way spend time hot summer we...
3        basically there's family little boy (jake) thi...
4        petter mattei's "love time money" visually stu...
                               ...
49995    thought movie right good job. creative origina...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    catholic taught parochial elementary schools n...
49998    i'm going disagree previous comment side malti...
49999    one expects star trek movies high art, fans ex...
Name: review, Length: 49582, dtype: object

In [24]:
imdb

                                                  review sentiment
0      one reviewers mentioned watching 1 oz episode ...  positive
1      wonderful little production. filming technique...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically there's family little boy (jake) thi...  negative
4      petter mattei's "love time money" visually stu...  positive
...                                                  ...       ...
49995  thought movie right good job. creative origina...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  i'm going disagree previous comment side malti...  negative
49999  one expects star trek movies high art, fans ex...  negative

[49582 rows x 2 columns]

In [27]:
x=imdb.iloc[:,0:1]
y=imdb['sentiment']

In [28]:
x

                                                  review
0      one reviewers mentioned watching 1 oz episode ...
1      wonderful little production. filming technique...
2      thought wonderful way spend time hot summer we...
3      basically there's family little boy (jake) thi...
4      petter mattei's "love time money" visually stu...
...                                                  ...
49995  thought movie right good job. creative origina...
49996  bad plot, bad dialogue, bad acting, idiotic di...
49997  catholic taught parochial elementary schools n...
49998  i'm going disagree previous comment side malti...
49999  one expects star trek movies high art, fans ex...

[49582 rows x 1 columns]

In [29]:
y

0        positive
1        positive
2        positive
3        negative
4        positive
           ...
49995    positive
49996    negative
49997    negative
49998    negative
49999    negative
Name: sentiment, Length: 49582, dtype: object

In [30]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()
y=encoder.fit_transform(y)

In [32]:
y.shape

(49582,)

In [33]:
from sklearn.model_selection import train_test_split
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [34]:
x_train

                                                  review
17824  got movie library, saw lot actors like it(john...
41082  may made hell it, probably worst film i've see...
35822  saw movie child. blew away. days television, m...
40     clichés movies type substance. plot went nowhe...
19775  cult starts 20 years ago 'quinling mountain ra...
...                                                  ...
44035  helps characters show based among best disney ...
32696  carlos mencia continually, violently, hatefull...
5195   lot horror fans seem love scarecrows, popular ...
12195  first 20 minutes, every cliche possible trotte...
33189  thought wasting precious 50 bucks going watch ...

[39665 rows x 1 columns]

In [36]:
x_test

array([0, 0, 1, ..., 0, 0, 1])

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [51]:
x_train_bow=cv.fit_transform(x_train['review']).toarray()
x_test_bow=cv.fit_transform(x_test['review']).toarray()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [52]:
x_train_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [53]:
y_train_bow

array([[1]], dtype=int64)

In [54]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()

In [55]:
nb.fit(x_train_bow,y_train)

C:\Users\HP\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Found input variables with inconsistent numbers of samples: [39665, 9917]