In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [16]:
dfs=pd.get_dummies(df.Category)
dfs.head()

   ham  spam
0    1     0
1    1     0
2    0     1
3    1     0
4    1     0

In [17]:
df1=pd.concat([df,dfs],axis="columns")
df1.head()

  Category                                            Message  ham  spam
0      ham  Go until jurong point, crazy.. Available only ...    1     0
1      ham                      Ok lar... Joking wif u oni...    1     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...    0     1
3      ham  U dun say so early hor... U c already then say...    1     0
4      ham  Nah I don't think he goes to usf, he lives aro...    1     0

In [18]:
df1.drop('ham',axis="columns",inplace=True)
df1

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will Ã¼ b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df1.Message,df1.spam,test_size=0.25)

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [27]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [32]:
emails=[
    "this is abbas and i am applying for intern position",
    "get upto 20% discount of next purchase"
]
email_count=v.transform(emails)
model.predict(email_count)

array([0, 1], dtype=uint8)

In [34]:
x_test_count=v.transform(x_test)
model.score(x_test_count,y_test)

0.9842067480258435

In [38]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [39]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [40]:
clf.score(x_test,y_test)

0.9842067480258435