In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords

In [3]:
imdb=pd.read_csv("E:/Dataset/IMDB dataset/IMDB Dataset.csv")
imdb=imdb.iloc[:10000]
imdb.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
imdb.shape

(10000, 2)

In [5]:
imdb.describe()

                                                   review sentiment
count                                               10000     10000
unique                                               9983         2
top     Beautiful film, pure Cassavetes style. Gena Ro...  positive
freq                                                    2      5028

In [6]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 156.4+ KB

In [7]:
imdb.duplicated().sum()

17

In [8]:
imdb.drop_duplicates(inplace=True)

In [9]:
imdb.duplicated().sum()

0

# Lower Casing

In [10]:
imdb['review'] = imdb['review'].apply(lambda x: x.lower())

In [11]:
# imdb=imdb['review'].str.lower()

In [12]:
imdb['review']

0       one of the other reviewers has mentioned that ...
1       a wonderful little production. <br /><br />the...
2       i thought this was a wonderful way to spend ti...
3       basically there's a family where a little boy ...
4       petter mattei's "love in the time of money" is...
                              ...
9995    fun, entertaining movie about wwii german spy ...
9996    give me a break. how can anyone say that this ...
9997    this movie is a bad movie. but after watching ...
9998    this is a movie that was probably made to ente...
9999    smashing film about film-making. shows the int...
Name: review, Length: 9983, dtype: object

# Removing the html tags

In [13]:
import re
def remove_html_tags(text):
    pattern=re.compile('<.*?>')
    return pattern.sub(r'', text)

In [14]:
imdb['review'] = imdb['review'].apply(remove_html_tags)

In [15]:
imdb['review']

0       one of the other reviewers has mentioned that ...
1       a wonderful little production. the filming tec...
2       i thought this was a wonderful way to spend ti...
3       basically there's a family where a little boy ...
4       petter mattei's "love in the time of money" is...
                              ...
9995    fun, entertaining movie about wwii german spy ...
9996    give me a break. how can anyone say that this ...
9997    this movie is a bad movie. but after watching ...
9998    this is a movie that was probably made to ente...
9999    smashing film about film-making. shows the int...
Name: review, Length: 9983, dtype: object

# Removing URL's

In [16]:
def remove_url(text):
    pattern=re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [17]:
imdb['review'].apply(remove_url)

0       one of the other reviewers has mentioned that ...
1       a wonderful little production. the filming tec...
2       i thought this was a wonderful way to spend ti...
3       basically there's a family where a little boy ...
4       petter mattei's "love in the time of money" is...
                              ...
9995    fun, entertaining movie about wwii german spy ...
9996    give me a break. how can anyone say that this ...
9997    this movie is a bad movie. but after watching ...
9998    this is a movie that was probably made to ente...
9999    smashing film about film-making. shows the int...
Name: review, Length: 9983, dtype: object

# Removing stopwords

In [18]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    new_text = []

    for word in text.split():
        if word not in stop_words:
            new_text.append(word)

    return ' '.join(new_text)

In [19]:
imdb['review'] = imdb['review'].apply(remove_stopwords)

In [20]:
imdb['review']

0       one reviewers mentioned watching 1 oz episode ...
1       wonderful little production. filming technique...
2       thought wonderful way spend time hot summer we...
3       basically there's family little boy (jake) thi...
4       petter mattei's "love time money" visually stu...
                              ...
9995    fun, entertaining movie wwii german spy (julie...
9996    give break. anyone say "good hockey movie"? kn...
9997    movie bad movie. watching endless series bad h...
9998    movie probably made entertain middle school, e...
9999    smashing film film-making. shows intense stran...
Name: review, Length: 9983, dtype: object

In [21]:
imdb

                                                 review sentiment
0     one reviewers mentioned watching 1 oz episode ...  positive
1     wonderful little production. filming technique...  positive
2     thought wonderful way spend time hot summer we...  positive
3     basically there's family little boy (jake) thi...  negative
4     petter mattei's "love time money" visually stu...  positive
...                                                 ...       ...
9995  fun, entertaining movie wwii german spy (julie...  positive
9996  give break. anyone say "good hockey movie"? kn...  negative
9997  movie bad movie. watching endless series bad h...  negative
9998  movie probably made entertain middle school, e...  negative
9999  smashing film film-making. shows intense stran...  positive

[9983 rows x 2 columns]

In [22]:
x=imdb.iloc[:,0:1]
y=imdb['sentiment']

In [23]:
x

                                                 review
0     one reviewers mentioned watching 1 oz episode ...
1     wonderful little production. filming technique...
2     thought wonderful way spend time hot summer we...
3     basically there's family little boy (jake) thi...
4     petter mattei's "love time money" visually stu...
...                                                 ...
9995  fun, entertaining movie wwii german spy (julie...
9996  give break. anyone say "good hockey movie"? kn...
9997  movie bad movie. watching endless series bad h...
9998  movie probably made entertain middle school, e...
9999  smashing film film-making. shows intense stran...

[9983 rows x 1 columns]

In [24]:
y

0       positive
1       positive
2       positive
3       negative
4       positive
          ...
9995    positive
9996    negative
9997    negative
9998    negative
9999    positive
Name: sentiment, Length: 9983, dtype: object

In [25]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()
y=encoder.fit_transform(y)

In [26]:
y.shape

(9983,)

In [27]:
from sklearn.model_selection import train_test_split
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [28]:
x_train

                                                 review
6713  i've waiting superhero movie like long time. "...
1178  movie excellent acted, excellent directed over...
4707  movie makes want throw every time see it. take...
6772  first saw movie elementary school, back 1960s....
7461  show made persons iq lower 80. jokes show lame...
...                                                 ...
2895  excellent episode movie ala pulp fiction. 7 da...
7823  first off, give idea taste movies...2007 comed...
905   well begin story?? went movie tonight friends ...
5195  lot horror fans seem love scarecrows, popular ...
235   reese witherspoon first outing big screen memo...

[7986 rows x 1 columns]

In [29]:
y_train

                                                 review
5333  8 simple rules dating teenage daughter auspici...
4113  one imdb reviewer puts it, "...imagine 2001: s...
6853  although "better" first mulva (which say much ...
3219  film worst film, ranks high me. slasher movie ...
7399  astounding film. well showing actual footage k...
...                                                 ...
8380  would like know john amos left show, die show ...
3556  rented watched short (< 90 minutes) work. far ...
1041  mukhsin beautiful movie first love story. ever...
8913  i've seen bad things time. half dead cow tryin...
2573  best dutch cinema offer years, worst fears com...

[1997 rows x 1 columns]

In [30]:
y_test

array([1, 1, 0, ..., 1, 0, 0])

In [31]:
x_test

array([1, 1, 0, ..., 0, 0, 1])

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000, min_df=5)

In [33]:
x_train_bow=cv.fit_transform(x_train['review']).toarray()
x_test_bow=cv.transform(x_test['review']).toarray()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
x_train_bow

In [ ]:
y_train_bow

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()

In [ ]:
nb.fit(x_train_bow,y_train)