In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/home/abbas/Revision/Naive bayes/titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Name         891 non-null    object
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
 11  Survived     891 non-null    int64
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
df.drop(["PassengerId","Name","Ticket","SibSp","Parch","Embarked","Cabin"],axis="columns",inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [5]:
target=df.Survived
inputs=df.drop("Survived",axis="columns")

In [6]:
dummies=pd.get_dummies(df.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [7]:
inputs=pd.concat([inputs,dummies],axis="columns")
inputs

     Pclass     Sex   Age     Fare  female  male
0         3    male  22.0   7.2500       0     1
1         1  female  38.0  71.2833       1     0
2         3  female  26.0   7.9250       1     0
3         1  female  35.0  53.1000       1     0
4         3    male  35.0   8.0500       0     1
..      ...     ...   ...      ...     ...   ...
886       2    male  27.0  13.0000       0     1
887       1  female  19.0  30.0000       1     0
888       3  female   NaN  23.4500       1     0
889       1    male  26.0  30.0000       0     1
890       3    male  32.0   7.7500       0     1

[891 rows x 6 columns]

In [8]:
inputs.drop("Sex",axis="columns",inplace=True)

In [9]:
inputs

     Pclass   Age     Fare  female  male
0         3  22.0   7.2500       0     1
1         1  38.0  71.2833       1     0
2         3  26.0   7.9250       1     0
3         1  35.0  53.1000       1     0
4         3  35.0   8.0500       0     1
..      ...   ...      ...     ...   ...
886       2  27.0  13.0000       0     1
887       1  19.0  30.0000       1     0
888       3   NaN  23.4500       1     0
889       1  26.0  30.0000       0     1
890       3  32.0   7.7500       0     1

[891 rows x 5 columns]

In [10]:
inputs.columns[inputs.isnull().any()]

Index(['Age'], dtype='object')

In [11]:
inputs.isna().any()

Pclass    False
Age        True
Fare      False
female    False
male      False
dtype: bool

In [12]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())

In [13]:
inputs.isnull().any()

Pclass    False
Age       False
Fare      False
female    False
male      False
dtype: bool

In [14]:
from sklearn.model_selection import train_test_split
x_train,y_train,x_test,y_test=train_test_split(inputs,target,test_size=0.3,random_state=0)

In [15]:
len(x_train)

623

In [16]:
len(x_test)

623

In [17]:
len(inputs)

891

In [18]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [19]:
model.fit(x_train,y_train)

ValueError: y should be a 1d array, got an array of shape (268, 5) instead.